In [2]:
import pickle

path = "../../pre_trained/salary_2022/model.pkl"

with open(path, "rb") as f:
  model = pickle.load(f)

with open("../../pre_trained/salary_2022/scaler.pkl", "rb") as f:
  scaler = pickle.load(f)

model
scaler

ModuleNotFoundError: No module named 'numpy._core'

In [7]:
import pandas as pd
import numpy as np

data = pd.read_csv("../../data/Salary_Dataset_with_Extra_Features.csv")

In [8]:
data = pd.DataFrame({
  "company_name" : data["Company Name"],
  "job_roles" : data["Job Roles"],
  "location" : data["Location"],
  "salary" : data["Salary"],
  "employment_status" : data["Employment Status"]
})

labels = ["company_name" , "job_roles" , "location", "employment_status"]
data = pd.get_dummies(data=data, columns=labels)
ip = data.drop(columns=["salary"])

ip

# model.predict([[company_name, job_roles, location]])

,"company_name_(X,Y,Z) Architecture & Design",company_name_(no)name,company_name_-,company_name_....,company_name_.Kreate,company_name_1 Crore Projects,company_name_10,company_name_100Plus (India),company_name_10Decoders Consultancy Services,company_name_11Signals Technologies,...,location_Kerala,location_Kolkata,location_Madhya Pradesh,location_Mumbai,location_New Delhi,location_Pune,employment_status_Contractor,employment_status_Full Time,employment_status_Intern,employment_status_Trainee
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22765,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
22766,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
22767,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
22768,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
22769,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [9]:
company_name = "IBM"
job_roles = "Web"
location = "Bangalore"
employment_status = "Full Time"

new_data = pd.DataFrame({
    "company_name": [company_name],
    "job_roles": [job_roles],
    "location": [location],
    "employment_status" : [employment_status]
})

new_data_encoded = pd.get_dummies(new_data, columns=["company_name", "job_roles", "location", "employment_status"])
new_data_encoded

,company_name_IBM,job_roles_Web,location_Bangalore,employment_status_Full Time
0,1,1,1,1

In [10]:
new_data_encoded = new_data_encoded.reindex(columns=ip.columns, fill_value=0)
op = model.predict(new_data_encoded)

op = scaler.inverse_transform(op.reshape(-1, 1)) #-1 means row take automatically as ip

op[0][0]

494558.2771341286